* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
 
img {
  /* Shrink up the image "minimize it" */
  max-width: 100%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
}

.card-header {
  height: 200px;
}

/* making text under the image */
.card-header img {
  object-fit : 'cover';
  height: 100%; 
  width: 100%;
}

.card-content {
  background-color: white;
  padding: 30px;
}

.card-excerpt {
  color: #788;
  margin: 10px 0 20px;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  /* to make it rounded */
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* move it away of image a little */
  margin-left: 10px;
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 5px;
}

/* Adding css animation */
/* adding gray behind the image */
.animated-bg {
  background-image: linear-gradient(to right ,
  white 0% ,
  #edeef1 10% ,
  #f6f7f8 20% ,
  #f6f7f8 100% );
  background-size: 200% 100%;
  /* BackgroundPosition */
  animation: bgPos 1s linear infinite;
}

/* Dealing with text */
.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {

  }
}
/* Load everything before coming
to page in javaScript */